@import 'variables.less';
.navbar{
	background:transparent;
	min-height:64px;
	 -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
	.bookContainer{
		margin-top:14px;
		float:right;
		.bookCTA{
						background:@primary;
						border-radius:5px;
						padding:8px;
						text-transform:uppercase;
		a{
			color:@fifth;
			font-weight:700;
			font-size:1.4rem;

		}
	}
	}
	.navbar-nav {
		text-transform:uppercase;
		li{
			a{
				color:@secondary;
				font-weight:700;
				font-size:1.4rem;
			}
		}
	}
	.navbar-toggle{
		border-color:@secondary;
		.icon-bar {
			background:@secondary;
		}
	}
}
@media only screen and(min-width: 768px){
.navbar-collapse.collapse {
    display: inline-block!important;
    }
    .navbar-nav>li{
    	margin-top:7px;
    }
  }

#page-nav-sticky-wrapper {
    z-index: 999;
    position:relative;
    &.is-sticky{
    	.navbar{
    		background:@fifth;
    		box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
        }
    	}
    }
