@import 'variables.less';

#reviewsPanel{
	background:url('../images/review_BG.jpg');
	background-size:cover;
	background-position:center;
	text-align:center;
	margin:30px 0 40px;
	padding:30px 0 40px;
		h2{
		color:@fifth;
		font-size:2.8rem;
		margin-bottom:30px;
	}
	.reviews{
		background: rgba(0, 0, 0, .15);
					  border-radius:5px;
			  padding:20px;
		color:@fifth;
		.reviewContent{
			font-size:1.8rem;
		}
		.reviewName{
			font-size:1.5rem;
		}
		.stars{
			color:@secondary;
			font-size:2.5rem;
			span{
				margin:0 2.5px;
			}
		}
}
		.reviewCTA{
						text-transform:uppercase;
    display: block;
    margin: 0 auto;
		a{
			background:@primary;
			border-radius:5px;
			padding:10px 20px;
			color:@fifth;
			font-weight:700;
			font-size:1.4rem;
						&:hover {
				text-decoration:none;
			}

		}
	}
}
